.settings-elements {
    margin: 8px;
}
.change-label {
    color: white;
    font-family: "Open Sans";
    font-size: 1rem;
    margin-bottom: 4px;
}
.change-input-e {
    all: unset;
    background-color: #f0f0f0;
    color: #1e1e1e;
    min-width: 220px;
    border-radius: 4px;
    font-family: "Open Sans";
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 4px 8px;
}
.change-input-p {
    all: unset;
    background-color: #f0f0f0;
    color: #1e1e1e;
    min-width: 100px;
    border-radius: 4px;
    font-family: "Open Sans";
    font-size: 1rem;
    margin-bottom: 8px;
    padding: 4px 8px;
}
.change-btn {
    display: block;
}
.email-change {
    margin-bottom: 32px;
}
.pw-change {
    margin-bottom: 32px;
}
.btn.del-btn {
    background-color: #ffd5d5;
    color: #c30000;
    margin-right: 16px;
    margin-bottom: 16px;
}
.conf-label {
    font-family: "Open Sans";
    font-size: 1rem;
    font-weight: 700;
    color: #f0f0f0;
    margin-bottom: 4px;
}
.del-btns {
    display: flex;
}
#delFinal, #delCancel {
    margin-top: 0;
}

.settings-title {
    color: #f0f0f0;
    font-family: "Open Sans";
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: 16px;
    margin-top: 8px;
}